<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom styles for this template -->
    
    <link href="style_custom.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

    <title>edit user</title>
  </head>
  <body>
  	<div class="container">

      <header class="masthead">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="index.html">Home</a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Add</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="editUser.html">Edit</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <main role="main" id = "app">
        <div v-if="!user" class = "text-center alert alert-primary ">
          Загрузка...
        </div>
        <form-for-edit v-else v-bind:user-expected ="user"></form-for-edit>
      </main>

      <!-- Site footer -->
      <footer class="footer d-flex justify-content-between"></footer>

    </div> <!-- /container -->

    <script type="text/x-template" id="form-edit-component">
      <div class="font-weight-bold">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" v-model="userExpected.name">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" v-model="userExpected.email">
        </div>
        <div class="form-group">
          <label>Balance</label>
          <input type="text" class="form-control" v-model="userExpected.balance">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="text" class="form-control" v-model="userExpected.phone">
        </div>
        <div class="form-group">
          <label>Age</label>
          <input type="text" class="form-control" v-model="userExpected.age">
        </div>

        <pre>{{userExpected}}</pre>
      </div>

    </script>

     <script>
      let formEditComp = {
        name:'Edit',
        template:'#form-edit-component',
        props:{
          userExpected:{
            type:Object,
            required:true
          }
        }
      };

      let app = new Vue({
        el:'#app',
        components:{
          'form-for-edit': formEditComp
        },
        data:function(){
          return {
            user:null
          };
        },
        methods: {
          getUser: function(){
            let xhr = new XMLHttpRequest();

            let self = this;

            xhr.addEventListener('readystatechange',function(event) {
              if (xhr.readyState !== 4 || xhr.status !== 200){
                return;
              }

              const data =  JSON.parse(xhr.responseText);

              self.user = data[0];
            });

            xhr.open('GET', 'data/users.json', true);
            xhr.send(); 
          },
        },
        mounted: function(){
            this.getUser();
          }
      });
    </script>

    <!-- Optional JavaScript -->
    
    <script>
      window.jQuery || document.write('<script src="jquery-slim.min.js"><\/script>');
    </script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/			Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">	
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="							sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/			aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous">
    </script>
  </body>
</html>